body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.content-wrapper {
    display: inline-block;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: goldenrod; /* Bootstrap primary color */
    color: #016f32;
    text-decoration: none; /* Remove underline */
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.back-button:hover {
    background-color: rgb(184, 141, 31);
}

.back-button-aligned {
    position: absolute;
    top: 8px;
    left: 8px;
}