body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(171, 255, 223);
    color: black;
    text-align: center;
}