body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    background-image: url("images/books_background.jpg");
    background-size: cover;
    color: black;
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5a8eff; /* Bootstrap primary color */
    color: black;
    text-decoration: none; /* Remove underline */
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.button:hover {
    background-color: #356adc;
}

.left-aligned {
    text-align: left;
}