body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    background-image: url("images/books_background.jpg");
    background-size: cover;
    color: black;
    text-align: center;
}