body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

.spacing {
    margin-bottom: 75px;
}