body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

.spacing {
    margin-bottom: 75px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff; /* Bootstrap primary color */
    color: black;
    text-decoration: none; /* Remove underline */
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.button:hover {
    background-color: #d9d9d9;
}

.left-aligned {
    text-align: left;
}