body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    background-image: url("images/lightblue_background.jpg");
    background-size: cover;
    color: black;
    text-align: center;
}

.circular-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.logo-spacing {
    margin-left: 20px;
}

.rounded-image {
    border-radius: 10%;
}

.big-space {
    margin-bottom: 100px;
}

.image-spacing {
    margin-left: 37px;
    margin-right: 37px;
}

.text-spacing {
    margin-left: 50px;
    margin-right: 50px;
}

.padding {
    padding: 20px;
}

/* Initial transparent state for fade in*/
.fade-in {
    opacity: 0;
    transition: opacity 1s ease; /* Match with JS transition time */
}

/* Fully visible */
.fade-in.show {
    opacity: 1;
}

/* Initial transparent state for fade out*/
.fade-out {
    opacity: 1;
    transition: opacity 1s ease;
}

/* Fully invisible */
.fade-out.hide {
    opacity: 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff; /* Bootstrap primary color */
    color: black;
    text-decoration: none; /* Remove underline */
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.button:hover {
    background-color: #d9d9d9;
}

.left-aligned {
    text-align: left;
}