body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    background-image: url("images/databases_background.avif");
    background-size: cover;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.content-wrapper {
    display: inline-block;
    text-align: center;
    margin-left: 600px;
    margin-right: 100px;
}