body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    background-image: url("images/databases_background.avif");
    background-size: cover;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.content-wrapper {
    display: inline-block;
    text-align: center;
    margin-left: 600px;
    margin-right: 100px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff; /* Bootstrap primary color */
    color: black;
    text-decoration: none; /* Remove underline */
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.button:hover {
    background-color: #d9d9d9;
}

.button-aligned {
    position: absolute;
    top: 8px;
    left: 8px;
}