body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(255, 171, 171);
    color: black;
    text-align: center;
}